<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="mingnuo_transmission" params="prefix">

    <transmission name="${prefix}wheel_rb_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}wheel_rb_joint">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}wheel_rb_motor">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
        <!-- <motorTorqueConstant>100</motorTorqueConstant> -->
      </actuator>
    </transmission>

    <transmission name="${prefix}wheel_lb_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}wheel_lb_joint">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}wheel_lb_motor">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
        <!-- <motorTorqueConstant>100</motorTorqueConstant> -->
      </actuator>
    </transmission>

    <transmission name="${prefix}wheel_steering_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}wheel_steering_joint">
        <!-- <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> -->
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}wheel_steering_motor">
        <!-- <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> -->
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
        <!-- <motorTorqueConstant>100</motorTorqueConstant> -->
      </actuator>
    </transmission>

    <transmission name="${prefix}wheel_f_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}wheel_f_joint">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}wheel_f_motor">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
        <!-- <motorTorqueConstant>100</motorTorqueConstant> -->
      </actuator>
    </transmission>

  </xacro:macro> 
</robot>
